#Alternate default index pages
<Directory "/">
    AllowOverride All
</Directory>
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    
</IfModule>
<IfModule dir_module>
    DirectoryIndex index.php
</IfModule>

